<h2>Members</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Number</th>
              <th>Name</th>
              <th>Email</th>
              <th>Position</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
            <% members.forEach( member =>{ %> 
            <tr>
              <td><a href="/members/<%= member.id %>"><%= member.memberID %></a></td>
              <td><%= member.name %></td>
              <td><%= member.email %></td>
              <td><%= member.position %></td>
              <td><%= member.location %></td>
            </tr>
            <% }) %> 
          </tbody>
        </table>
      </div>